.region-select {
  height: 52px;
  z-index: 1;
  &__btn {
    width: 200px;
    height: 52px;
    padding: 0 0 0 23px;
    border: none;
    border-radius: 5px;
    background: url('../../images/chevron-down.svg') calc(100% - 18px)
        center/15px no-repeat,
      $white;
    @include shadow;
    @include base-text($textS, 300, $textLM);
    text-align: left;
    cursor: pointer;
    &_theme_dark {
      background: url('../../images/chevron-down-filled.svg') calc(100% - 18px)
          center/15px no-repeat,
        $elementsDM;
      color: $white;
    }
  }
  &__list {
    display: none;
    width: 200px;
    padding: 0;
    border-radius: 5px;
    background: $white;
    list-style: none;
    margin: 5px 0 0 0;
    @include shadow;
    &_theme_dark {
      background: $elementsDM;
    }
    &_open {
      display: block;
    }
  }
  &__item {
    padding: 6px 0 5px 23px;
    @include base-text($textS, 300, $textLM);
    cursor: pointer;
    user-select: none;
    transition: opacity 0.6s;
    &:first-child {
      padding-top: 20px;
    }
    &:last-child {
      padding-bottom: 17px;
    }
    &:hover {
      opacity: 0.6;
    }
    &_theme_dark {
      color: $white;
    }
  }
}
