.region-select {
  height: 56px;
  z-index: 1;
  &__btn {
    width: 200px;
    height: 56px;
    padding: 0 0 0 24px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    background: url('../../assets/icons/chevron-down.svg') calc(100% - 16px)
        center/15px no-repeat,
      $white;
    @include shadow;
    @include base-text($textS, 300, $textLM);
    text-align: left;
    cursor: pointer;
    &:focus-visible {
      border-color: $activeSelect;
    }
    &_theme_dark {
      background: url('../../assets/icons/chevron-down-filled.svg')
          calc(100% - 16px) center/15px no-repeat,
        $elementsDM;
      color: $white;
    }
  }
  &__list {
    display: none;
    width: 200px;
    padding: 0;
    border-radius: 5px;
    background: $white;
    list-style: none;
    margin: 5px 0 0 0;
    @include shadow;
    &_theme_dark {
      background: $elementsDM;
    }
    &_open {
      display: block;
    }
  }
  &__item {
    padding: 6px 0 5px 23px;
    @include base-text($textS, 300, $textLM);
    cursor: pointer;
    user-select: none;
    &:first-child {
      padding-top: 20px;
      &:active,
      &:focus,
      &:hover,
      &[aria-selected='true'] {
        border-radius: 5px 5px 0 0;
      }
    }
    &:last-child {
      padding-bottom: 17px;
      &:active,
      &:focus,
      &:hover,
      &[aria-selected='true'] {
        border-radius: 0 0 5px 5px;
      }
    }
    &:active,
    &:focus,
    &:hover,
    &[aria-selected='true'] {
      background-color: $activeSelect;
    }
    &_theme_dark {
      color: $white;
    }
  }
}

@media screen and (max-width: 475px) {
  .region-select {
    height: 48px;
    &__btn {
      height: 48px;
      font-size: $textXS;
      background: url('../../assets/icons/chevron-down.svg') calc(100% - 16px)
          center/13px no-repeat,
        $white;
      &_theme_dark {
        background: url('../../assets/icons/chevron-down-filled.svg')
            calc(100% - 16px) center/13px no-repeat,
          $elementsDM;
      }
    }
    &__item {
      padding-top: 5px;
      padding-left: 24px;
      font-size: $textXS;
      &:first-child {
        padding-top: 16px;
      }
      &:last-child {
        padding-bottom: 16px;
      }
    }
  }
}
