.not-found {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 80px;
  &__title {
    margin: 0;
    @include base-text($textXXL, 800, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
  &__description {
    margin: 0;
    padding: 30px 0 7px;
    @include base-text($textM, 300, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
  &__link {
    border: 1px solid transparent;
    outline: none;
    @include base-text($textM, 600, $textLM);
    text-decoration: none;
    transition: opacity 0.6s;
    &:hover {
      opacity: 0.6;
    }
    &:focus-visible {
      border-color: $activeSelect;
    }
    &_theme_dark {
      color: $white;
    }
  }
}

@media screen and (max-width: 800px) {
  .not-found {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 475px) {
  .not-found {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 50px;
    &__title {
      font-size: $textXL;
    }
    &__description {
      padding-top: 20px;
      font-size: $textS;
    }
    &__link {
      font-size: $textS;
    }
  }
}
