.detail-page {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 80px 80px;
  margin: 0 auto;
  &__btn-back {
    width: 135px;
    height: 42px;
    padding: 0 0 0 22px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    background: url('../../assets/icons/arrow-left-long.svg') 32px center/18px
        no-repeat,
      $white;
    @include shadow;
    @include base-text($textM, 600, $textLM);
    cursor: pointer;
    transition: opacity 0.6s;
    &:hover {
      opacity: 0.6;
    }
    &:focus-visible {
      border-color: $activeSelect;
    }
    &_theme_dark {
      background: url('../../assets/icons/arrow-left-long-filled.svg') 32px
          center/18px no-repeat,
        $elementsDM;
      color: $white;
    }
  }
  &__wrapper {
    max-width: 100%;
    padding-top: 78px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
  }
  &__flag {
    max-width: 560px;
    min-width: 465px;
    object-fit: contain;
    @include base-text($textM, 600, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
  &__description-wrapper {
    max-width: 600px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
  }
  &__country-name {
    margin: 0;
    padding-top: 42px;
    @include base-text($textXXL, 800, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
  &__list-wrapper {
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
  }
  &__description-list {
    width: 252px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;
    &_position_left {
      padding-right: 10px;
    }
  }
  &__description-info {
    padding-bottom: 13px;
    margin: 0;
    @include base-text($textM, 300, $textLM);
    &_position_bottom {
      padding-bottom: 0;
    }
    &_theme_dark {
      color: $white;
    }
  }
  &__description-info-accent {
    @include base-text($textM, 600, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
  &__border-wrapper {
    padding-top: 54px;
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
  &__border-info {
    min-width: 131px;
    margin: 0;
    @include base-text($textM, 600, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
  &__border-link-wrapper {
    max-width: 458px;
    display: flex;
    flex-wrap: wrap;
  }
  &__link-country {
    margin-top: 6px;
    margin-right: 10px;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    background: $white;
    @include shadow;
    @include base-text($textS, 300, $textLM);
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.6s;
    &:hover {
      opacity: 0.6;
    }
    &:focus-visible {
      border-color: $activeSelect;
    }
    &_theme_dark {
      background: $elementsDM;
      color: $white;
    }
  }
}

@media screen and (max-width: 1100px) {
  .detail-page {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__flag {
      max-width: 65%;
      min-width: 273px;
    }
    &__description-wrapper {
      max-width: 100%;
      min-width: 273px;
    }
  }
}

@media screen and (max-width: 800px) {
  .detail-page {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    &__wrapper {
      padding-top: 64px;
    }
    &__country-name {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 475px) {
  .detail-page {
    padding-left: 28px;
    padding-right: 28px;
    &__btn-back {
      height: 32px;
      width: 104px;
      padding-left: 25px;
      background: url('../../assets/icons/arrow-left-long.svg') 24px center/16px
          no-repeat,
        $white;
      font-size: $textS;
      &_theme_dark {
        background: url('../../assets/icons/arrow-left-long-filled.svg') 24px
            center/16px no-repeat,
          $elementsDM;
      }
    }
    &__country-name {
      font-size: $textXL;
    }
    &__list-wrapper {
      padding-top: 25px;
      flex-direction: column;
    }
    &__description-list {
      width: 100%;
      &_position_left {
        padding-right: 0;
      }
      &_position_bottom {
        padding-top: 34px;
      }
    }
    &__description-info {
      padding-bottom: 15px;
      font-size: $textS;
    }
    &__description-info-accent {
      font-size: $textS;
    }
    &__border-wrapper {
      padding-top: 27px;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
    &__link-country {
      padding: 7px 10px;
      font-size: $textXS;
    }
  }
}
