.cards {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 48px 80px;
  margin: 0 auto;
  &__wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    gap: 76px 74px;
    justify-items: center;
    list-style: none;
  }
  &__item {
    width: 264px;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.6s;
    &:hover {
      @include shadow;
    }
    &_theme_dark {
      &:hover {
        @include shadow-light;
      }
    }
  }
  &__item-link {
    text-decoration: none;
  }
}
