.cards {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 48px 80px;
  margin: 0 auto;
  &__wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    gap: 76px 74px;
    justify-items: center;
    list-style: none;
  }
  &__item {
    width: 264px;
    border-radius: 5px;
    outline: none;
    overflow: hidden;
    @include shadow;
    transition: opacity 0.6s;
    &_theme_dark {
      @include shadow-light;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__item-link {
    text-decoration: none;
  }
}
