.cards {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 48px 80px;
  margin: 0 auto;
  &__wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
    gap: 76px 74px;
    justify-items: center;
    list-style: none;
  }
  &__not-found {
    width: 460px;
    margin: 0 auto;
    padding-top: 80px;
    @include base-text($textXXL, 800, $textLM);
    text-align: center;
    &_theme_dark {
      color: $white;
    }
  }
  &__item {
    width: 264px;
    border-radius: 5px;
    @include shadow;
    transition: opacity 0.6s;
    &_theme_dark {
      @include shadow-light;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  &__item-link {
    text-decoration: none;
    border-radius: 5px;
    &:focus-visible {
      outline-color: $activeSelect;
    }
  }
}

@media screen and (max-width: 1100px) {
  .cards {
    &__wrapper {
      gap: 50px 38px;
    }
  }
}

@media screen and (max-width: 800px) {
  .cards {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 32px;
    &__wrapper {
      gap: 41px 38px;
    }
    &__not-found {
      width: 400px;
      padding-top: 60px;
      font-size: $textXL;
    }
  }
}

@media screen and (max-width: 475px) {
  .cards {
    padding-left: 16px;
    padding-right: 16px;
    &__not-found {
      width: 340px;
      padding-top: 50px;
      font-size: $textL;
    }
  }
}
