.filter {
  max-width: 1440px;
  box-sizing: border-box;
  padding: 48px 80px 0;
  margin: 0 auto;
  &__wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
