.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  &__country-flag {
    width: 100%;
    height: 160px;
    object-fit: cover;
    @include base-text($textS, 300, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
  &__description-wrapper {
    padding: 27px 22px 34px;
    background: $white;
    &_theme_dark {
      background: $elementsDM;
    }
  }
  &__country-name {
    margin: 0 0 18px;
    @include base-text($textL, 800, $textLM);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &_theme_dark {
      color: $white;
    }
  }
  &__country-description-list {
    padding: 0;
    list-style: none;
  }
  &__country-info {
    margin: 0 0 8px;
    @include base-text($textS, 300, $textLM);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &_theme_dark {
      color: $white;
    }
  }
  &__country-info-accent {
    @include base-text($textS, 600, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
}
