.header {
  max-width: 100%;
  flex: 0 1 auto;
  background-color: $white;
  position: relative;
  @include shadow;
  &_theme_dark {
    background-color: $elementsDM;
  }
  &__wrapper {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    transition: 0.6s;
    border: 1px solid transparent;
    outline: none;
    &:hover {
      opacity: 0.6;
    }
    &:focus-visible {
      border-color: $activeSelect;
    }
  }
  &__title {
    margin: 0;
    @include base-text(24px, 800, $textLM);
    &_theme_dark {
      color: $white;
    }
  }
  &__btn {
    width: 112px;
    height: 24px;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    background: url('../../assets/icons/moon.svg') 3px center/18px no-repeat,
      transparent;
    @include base-text(16px, 600, $textLM);
    text-align: right;
    transition: opacity 0.6s;
    &:hover {
      opacity: 0.6;
    }
    &:focus-visible {
      border-color: $activeSelect;
    }
    &_theme_dark {
      background: url('../../assets/icons/moon-filled.svg') left center/18px
          no-repeat,
        transparent;
      color: $white;
    }
  }
}
