.search {
  margin: 0;
  &__input {
    width: 396px;
    height: 56px;
    padding: 1px 9px 1px 72px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    @include shadow;
    background: url('../../assets/icons/search.svg') 29px center/20px no-repeat,
      $white;
    @include base-text($textS, 300, $inputLM);
    &[type='search']::-webkit-search-cancel-button {
      display: none;
      appearance: none;
    }
    &::placeholder {
      color: $inputLM;
    }
    &:focus-visible {
      border-color: $activeSelect;
    }
    &_theme_dark {
      background: url('../../assets/icons/search-filled.svg') 30px center/20px
          no-repeat,
        $elementsDM;
      color: $white;
      &::placeholder {
        color: $white;
      }
    }
  }
}
