@mixin base-text($size, $weight, $color) {
  font: {
    family: 'Nunito Sans', 'Arial', sans-serif;
    size: $size;
    weight: $weight;
  }
  line-height: 1.2;
  color: $color;
}

@mixin shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

@mixin shadow-light {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}
