/* COLORS */
$elementsDM: hsl(209, 23%, 22%);
$backgroundDM: hsl(207, 26%, 17%);
$backgroundLM: hsl(0, 0%, 98%);
$textLM: hsl(200, 15%, 8%);
$inputLM: hsl(0, 0%, 52%);
$activeSelect: hsl(138, 17%, 61%);
$white: hsl(0, 0%, 100%);

/* TEXT SIZE */
$textS: 14px;
$textM: 16px;
