@font-face {
  font-family: Nunito Sans;
  font-display: swap;
  src: url('../../assets/fonts/NunitoSans-Light.woff2') format('woff2'),
    url('../../assets/fonts/NunitoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Nunito Sans;
  font-display: swap;
  src: url('../../assets/fonts/NunitoSans-Bold.woff2') format('woff2'),
    url('../../assets/fonts/NunitoSans-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Nunito Sans;
  font-display: swap;
  src: url('../../assets/fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
    url('../../assets/fonts/NunitoSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
